body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
  color: #202020;
  background: #FFFFFF;
  height: 100%;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  line-height: 37px;
  overflow-x: hidden;
}

a {
  color: #7a4814;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #7a4814;
  outline: none;
  cursor: pointer;
}

p {
  margin-bottom: 30px;
  font-family: "Avenir Next", "DengXian", "Helvetica Neue", serif;
  font-size: 18px;
  font-weight: 400;
  margin-left: 200px;
  margin-right: 220px;
}

#MushroomBanner {
  background-color: #62350d;
}

#header h1 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Copperplate", "Helvetica Neue", serif;
  font-weight: 400;
  font-size: 35px;
  margin-left: 20px;
  margin-top: 18px;
  letter-spacing: 1px;
}

#header h2 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Copperplate", "Helvetica Neue", serif;
  font-weight: 400;
  opacity: 100%;
  font-size: 32px;
  margin-left: 25px;
  letter-spacing: 1px;
}

h1 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Copperplate", "Helvetica Neue", serif;
  font-weight: 400;
  font-size: 35px ;
  margin-left: 160px;
  margin-top: 60px;
  letter-spacing: 1px;
}

h2 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Copperplate", "Helvetica Neue", serif;
  font-weight: 400;
  font-size: 26px;
  opacity: 100%;
  margin-left: 180px;
  letter-spacing: 1px;
}

h3 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Copperplate", "Helvetica Neue", serif;
  font-weight: 400;
  font-size: 23px;
  margin-top: 5px;
  margin-left: 200px;
  letter-spacing: 1px;
}

/* Header */

#header {
  float: left;
  position: fixed;
  background: url(Assets/Materials/MenuBarBackground.png);
  width: 100%;
  height: 125px;
  margin-top: 0px;
  z-index: 2
}

#header:after {
  bottom: -4px;
  left: 0;
  right: 0;
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#header h1 {
  float: left;
  padding: 0;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

#header h1 i {
  color: #7a4814;
}

#header h1 a {
  color: #7a4814;
  text-decoration: none;
}

#header h1 a:hover, #header h1 a:active, #header h1 a:focus {
  text-decoration: none;
  outline: none;
}

#header h2 {
  float: right;
  opacity: 100%;
  margin-right: 50px;
  margin-bottom: 0;
  margin-top: 24px;
}

#header nav {
  float: left;
  padding: 0;
  margin-top: 30px;
  margin-left: 20px;
}

#header nav ul {
  padding: 0;
  margin: 0 0 0 0;
}

#header nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#header nav ul li a {
  display: static;
  font-family: "Copperplate", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  padding: 12px 15px;
  position: relative;
  text-decoration: none;
}

#header nav ul li a i {
  line-height: 0;
  font-size: 20px;
  position: relative;
  top: 3px;
}

#header nav ul li a:hover {
  text-decoration: none;
  font-weight: 400px;
  color: #af6415;
}

#header nav ul li.active a, #header nav ul li.focus a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

#header nav ul li ul {
  position: absolute;
  color: #FFFFFF;
  background: #e7963f;
  border-radius: 20px;
  max-height: 0px;
  transition: all 0.25s ease-out;
  overflow: hidden;
}

#header nav ul li:hover ul {
  border-radius: 20px;
  max-height: 500px;
  transition: all 0.25s ease-in;
}

#header nav ul li ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#header nav ul li ul li a {
  color: #FFFFFF;
  font-family: "Copperplate", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 19px;
  padding: 12px 15px;
  position: static;
  font-weight: 400;
}

#header nav ul li ul li a:hover {
  position: block;
  color: #7A4814;
  background: #FFFFFF;
  border-radius: 20px;
  font-weight: 400;
}

#header nav ul li ul li a:active {
  background: #7A4814;
  color: #FFFFFF;
  font-weight: 400;
}

#about-section {
  padding-top: 6em;
  margin-left: 20px;
}

.jump-button a {
  text-decoration: none;
  background: #e7963f;
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #FFFFFF;
  z-index: 1;
  position: block;
  border-radius: 20px;
  transition: all 0.2s;
}

.jump-button a:hover {
  background: #FFFFFF;
  color: #7A4814;
  position: block;
  border-radius: 20px;
  transition: all 0.2s;
  z-index: 1;
}

.jump-button a:active {
  background: #7A4814;
  color: #FFFFFF;
}

.jump-button h2 {
  opacity: 100%;
}

.banner {
  align: center;
  width: auto;
  height: auto;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#ShroomSweeperBanner {
  margin-top: 0px;
}

.content {
  margin-top: 0px;
}

.bottombanner {
  align: center;
  width: auto;
  height: auto;
  width: 100%;
  margin: 0px;
}

.row {
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8%;
  margin-right: 5%;
  padding-left: 0px;
  border: 0;
  font-size: 100%;
  font: inherit;
  overflow-x: hidden;
  overflow-y: hidden;
}

#team-row {
  height: 550px;
  padding-left: 0px;
  width: 1200px;
  margin-left: 250px;
}

.teamcell {
  height: 550px;
  width: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 23px;
  margin-right: 23px;
  float: left;
  position: relative;
  text-align: center;
  overflow: hidden;
  background: url(Assets/Materials/CellBackground.png);
  background-size: auto 100%;
}

.teamcell p {
  line-height: 20px;
}

.teamcell h3 {
  margin-left: 0px;
  font-size: 12px;
}

.cell {
  height: 550px;
  width: 240px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc((90% - 1200px)/10);
  margin-right: calc((90% - 1200px)/10);
  position: relative;
  display: inline-block;
  align-self: center;
  overflow: hidden;
}

.cell img {
  height: 150px;
  width: 150px;
  margin-left: 45px;
  margin-top: 45px;
}

.teamcell img {
  height: 150px;
  width: 150px;
  margin-left: 0px;
  margin-top: 0px;
}

.cell h3, .teamcell h3 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Copperplate", "Helvetica Neue", serif;
  font-weight: 400;
  font-size: 23px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  letter-spacing: 1px;
}

.cell p {
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
}

.teamcell p {
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
}

.cell a h3 {
  text-decoration: none;
}

#teambutton a h3, #projectbutton a h3, #resultsbutton a h3, #humanpracticebutton a h3, #modelbutton a h3 {
  text-decoration: none;
  border-radius: 0px;
  margin-left: 0px;
  transition: all 0.2s ease-out;
}

#teambutton a:hover h3 {
  background: #124A4B;
  color: #FFFFFF;
  border-radius: 20px;
  margin-left: 0px;
  transition: all 0.2s ease-in;
}

#projectbutton a:hover h3 {
  background: #673E17;
  color: #FFFFFF;
  margin-left: 0px;
  border-radius: 20px;
}

#resultsbutton a:hover h3 {
  background: #863637;
  color: #FFFFFF;
  margin-left: 0px;
  border-radius: 20px;
}

#humanpracticebutton a:hover h3 {
  background: #155278;
  color: #FFFFFF;
  margin-left: 0px;
  border-radius: 20px;
}

#modelbutton a:hover h3 {
  background: #DD9851;
  color: #FFFFFF;
  margin-left: 0px;
  border-radius: 20px;
}

#teambutton a:active h3 {
  background: #124A4B;
  color: #124A4B;
  margin-left: 0px;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}

#projectbutton a:active h3 {
  background: #673E17;
  color: #673E17;
  margin-left: 0px;
  border-radius: 20px;
}

#resultsbutton a:active h3 {
  background: #863637;
  color: #863637;
  margin-left: 0px;
  border-radius: 20px;
}

#humanpracticebutton a:active h3 {
  background: #155278;
  color: #155278;
  margin-left: 0px;
  border-radius: 20px;
}

#modelbutton a:active h3 {
  background: #DD9851;
  color: #DD9851;
  margin-left: 0px;
  border-radius: 20px;
}

#teambutton p, #projectbutton p, #resultsbutton p, #humanpracticebutton p, #modelbutton p {
  line-height: 28px;
}

.text-align-center, .image-center {
  text-align: center;
}

.image-right {
  width: 500px;
  height: auto;
  float: right;
  text-align: center;
  margin-right: 80px;
}

.image-right img {
  margin-left: 10px;
}

.figure-description {
  font-size: 15px;
  margin: 0px;
  text-align: center;
}

.MathJax_SVG_Display {
  text-align: center;
}

footer {
  background-color: #7a4814;
  height: 178px;
  display: block;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

ul {
  margin-top: 20px;
}

ul li {
  margin-left: 200px;
  margin-right: 220px;
  font-family: "Avenir Next", "DengXian", "Helvetica Neue", serif;
  font-size: 18px;
  font-weight: 400;
}

#specialbackground {
  height: calc(2120px - 100%);
  padding-top: 5px;
  padding-bottom: 40px;
  background-color: #62350d;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 200px;
}

#specialbackground h1, #specialbackground p{
  color: #FFFFFF;
}

#MushroomBanner {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#MushroomNiang {
  float: right;
  margin-right: 150px;
}

#MushroomNiang img {
  height: 550px;
  width: auto;
}
